{
  "log": {
    "_recordingName": "#usHolidaysAndTradingDates/call",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "6fd584903e0ec305b3dfc8fa196b47b0",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "..."
            }
          ],
          "url": "https://sandbox.iexapis.com/v1/ref-data/us/dates/holiday/next/1/?token=..."
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 124,
            "text": "[\"1f8b08000000000000038bae564a492c4955b252323230b4d43534d2353255d2512a4e2d29c949cd4dcd2b714193b554aa8d05000d83fbd135000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "iexcloud-messages-used",
              "value": "1"
            },
            {
              "name": "iexcloud-premium-messages-used",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1397,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
