{
  "log": {
    "_recordingName": "#dailyTreasuryRates/call",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "a99e5b540d0288e45099b60d2063a609",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "..."
            }
          ],
          "url": "https://sandbox.iexapis.com/v1/time-series/treasury/DGS10?token=..."
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 198,
            "text": "[\"1f8b08000000000000038bae562a4bcc294d55b232d0b330d551ca4c51b2520a0a0e710d720c8d54d251ca4ead040ab807bb181a0079c5a54910013f577f3f20bfb42025b12415a8c5d0ccccd2c4c0c2d4d8d4c8c4b4361600bd9efa0956000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "iexcloud-messages-used",
              "value": "1000"
            },
            {
              "name": "iexcloud-premium-messages-used",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 668,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
