{
  "log": {
    "_recordingName": "#status/call",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "09246c34a9367d3f705bcf3bf8298872",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "..."
            }
          ],
          "url": "https://sandbox.iexapis.com/v1/status?token=..."
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 144,
            "text": "[\"1f8b0800000000000003ab562a2e492c292d56b2522a2d50d2512a4b2d2acecccf03720df58c2c80022599b9a94a5686a6e6e606e66696466666c646b500266396bb35000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 829,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
