{
  "log": {
    "_recordingName": "#upcomingEvents/call for symbol",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "7a67bb3d3d6671b8050ed29bc5c9a649",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "..."
            }
          ],
          "url": "https://sandbox.iexapis.com/v1/stock/aapl/upcoming-earnings?token=..."
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 132,
            "text": "[\"1f8b08000000000000038bae562aaecc4dcacf51b25272740cf051d2512a4a2dc82f2a71492c49058a19191819e81a18ea1a5928d5c60200afaff2382d000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "iexcloud-messages-used",
              "value": "5"
            },
            {
              "name": "iexcloud-premium-messages-used",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 922,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
