{
  "log": {
    "_recordingName": "#isinMapping/call",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "f14d7f89239b9d2fe0bb852e939d6e9a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "text/plain;charset=UTF-8"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "text/plain;charset=UTF-8",
            "params": [],
            "text": "[object Object]"
          },
          "queryString": [
            {
              "name": "token",
              "value": "..."
            }
          ],
          "url": "https://sandbox.iexapis.com/v1/ref-data/isin?token=..."
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 36,
            "text": "{\"error\":\"\\\"token\\\" is not allowed\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 816,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
