{
  "log": {
    "_recordingName": "#logo/call",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "8786322bb1065b7b58c5d09edf4d905f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "..."
            }
          ],
          "url": "https://sandbox.iexapis.com/v1/stock/AAPL/logo?token=..."
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 194,
            "text": "[\"1f8b080000000000000305c13d0a80300c06d0bb64b7191c846edd1dbc42a9252d44bfd01f10c4bbfbde4bb32979ca7c35c7ead4f6053c0282896c3175055bd48eb94a356fd21f292371ccd5dd85513172c78153e8fb016963edda4c000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "iexcloud-messages-used",
              "value": "1"
            },
            {
              "name": "iexcloud-premium-messages-used",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 931,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
