{
  "log": {
    "_recordingName": "#ohlc/call",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "8fc96f9ab68fa8ef126a9435f5d77ee4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "..."
            }
          ],
          "url": "https://sandbox.iexapis.com/v1/stock/AAPL/ohlc?token=..."
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2,
            "text": "{}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "iexcloud-messages-used",
              "value": "0"
            },
            {
              "name": "iexcloud-premium-messages-used",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 837,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
