{
  "log": {
    "_recordingName": "#ipoCalendar/call for today",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "b114f0b470beef47abd1db0cbadfbd5c",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "..."
            }
          ],
          "url": "https://sandbox.iexapis.com/v1/stock/market/today-ipos?token=..."
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 134,
            "text": "[\"1f8b0800000000000003ab562a4a2c77492c4954b28a8ed5512acb4c45e2e52416978416a42496a42a59291919185aea1a1ae91a5928d50200f741243f36000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "iexcloud-messages-used",
              "value": "0"
            },
            {
              "name": "iexcloud-premium-messages-used",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 821,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
