{
  "log": {
    "_recordingName": "#endOfDayOptions/call for contract dates",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "25280a3545af199afb2ccf549a7b8e7f",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "..."
            }
          ],
          "url": "https://sandbox.iexapis.com/v1/stock/AAPL/options?token=..."
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 176,
            "text": "[\"1f8b08000000000000032d8bb90dc0300cc476719de2f49e3c4b90fdd78823a52308f25e0a236a5d070adc1f8898491bdf601b8039a6221a22c41ad405d3947a9bd4ea0bc97f17db7325e9eb790162a9188576000000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "iexcloud-messages-used",
              "value": "1"
            },
            {
              "name": "iexcloud-premium-messages-used",
              "value": "0"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 190,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
