{
  "log": {
    "_recordingName": "#iexSymbols/call for csv",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "b611608700644fcecdb079e6e14ffac8",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "..."
            },
            {
              "name": "format",
              "value": "csv"
            }
          ],
          "url": "https://sandbox.iexapis.com/v1/ref-data/iex/symbols?token=...&format=csv"
        },
        "response": {
          "content": {
            "mimeType": "text/csv; charset=utf-8",
            "size": 193838,
            "text": "symbol,date,isEnabled\r\nA,2019-12-24,true\r\nAA,2019-12-24,true\r\nAAAU,2019-12-24,true\r\nAACG,2019-12-24,true\r\nAADR,2019-12-24,true\r\nAAL,2019-12-24,true\r\nAAMC,2019-12-24,true\r\nAAME,2019-12-24,true\r\nAAN,2019-12-24,true\r\nAAOI,2019-12-24,true\r\nAAON,2019-12-24,true\r\nAAP,2019-12-24,true\r\nAAPL,2019-12-24,true\r\nAAT,2019-12-24,true\r\nAAU,2019-12-24,true\r\nAAWW,2019-12-24,true\r\nAAXJ,2019-12-24,true\r\nAAXN,2019-12-24,true\r\nAB,2019-12-24,true\r\nABB,2019-12-24,true\r\nABBV,2[...]
