{
  "log": {
    "_recordingName": "#iSINMapping/call",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "8bf148a02724fffc0a0db42feb022415",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "token",
              "value": "..."
            }
          ],
          "url": "https://cloud.iexapis.com/v1/ref-data/isin?token=..."
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 63,
            "text": "{\"error\":\"child \\\"isin\\\" fails because [\\\"isin\\\" is required]\"}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 1633,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
